@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .search-bar {
        @apply w-0 group-hover:w-[300px] transition-all duration-300 rounded-full group-hover:border group-hover:border-gray-500 px-3 py-2 focus:outline-none dark:border-gray-800 dark:bg-gray-900 group-hover:dark:bg-gray-800
    }
}

.work{
    position: relative;
    overflow: hidden;
}

.layer{
    position: absolute;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 0%;
    backdrop-filter: blur(10px);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.work:hover .layer{
    height: 200px;
   
}